<div class="panel panel-danger">
  <div class="panel-body">
    <p>
    <%= form_for(@retweet, url: retweets_path(retweet_id: @post.id), remote: true) do |f| %>
      <%= f.text_area :content, class: 'form-control' %><br>
      <%#= f.hidden_field :retweet_id, value: @post.id %>
      <%#= f.file_field :avatar, title: "Upload Image"%><br>
      <%= f.submit "Retweet!" , class: 'btn btn-primary' %>
    <% end %>
    </p>
  </div>
</div>