<div class="panel panel-info margin-bottom-zero">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Tweet</h3>
  </div>
  <div class="panel-body">
   
    <%= form_for @post do |f| %>
      <%= f.text_area :content, class: 'form-control' %><br>
      <%= f.file_field :avatar, title: "Upload Image"%><br>
      <%= f.submit "Tweet!" , class: 'btn btn-primary' %>
    <% end %>
    
  </div>
</div>